.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4364a7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* change to white */
}


.App-link {
  color: #92daee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "supersmash";
  src: url("./font/supersmash.ttf");
}

@font-face {
  font-family: "mario";
  src: url("./font/mario.ttf");
}

* {
  font-family: "mario";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  font-family: "mario";
  color: #000000;
}


td {
  font-family: "mario";
  color: #000000;
}

th {
  font-family: "supersmash";
  color: #000000;
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center center;
  color: #000000;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "supersmash";
    color: #000000;
  }
  

p {
  color: #000000;
}


